@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #333;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	text-align: center;
	justify-content: space-around;
	list-style: none;
	width: 99vw;
}

.wrapper > * {
	padding: 5px;
	flex: 1 100%;
}

.topbar {
	background-color: #499c41;
	height: 100px;

	text-align: left;
	display: flex;
	width: 100%;
	flex-flow: row;
}

.contentwrap{
	display: flex;
	position: relative;
	flex-grow: 999 999 auto;
	flex-grow: 1;
	min-width: 455px;
	flex-flow: row wrap;
	padding: 10px 30px 15px;
}

.maincontent {
	position: relative;
	flex: 1 1;
	flex-direction: column;
	display: flex;
}


.nav {
	width: 100vw;
	padding: 0px;
	height: 35px;
	align-items: center;
	display: flex;
}




.nav a {
	text-transform: uppercase;
	color: green;
	text-decoration: none;
	padding: 5px;

}

.nav a:hover{
	color: white;
	transition: 0.5s;
	background: #499c41;
	padding: 5px;
}

.footer{
	bottom: 0px;
	display: flex;
	align-items: center;
	background-color: yellow;
	width: 100%;
	height: 35px;
}

article{
	min-width: 40vw;
	max-width: 100vw;
	min-height: 60vh;
	flex: 1 1 23vw;
	border: 1px solid black;
	padding: 1px 10px;
	margin: 1px 10px 10px 0px;
	text-align: left;
	backdrop-filter: brightness(1.4) ;

}

article h2 {
	color: white;
	text-align: center;
	padding: 0;
	text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.toggle{
	visibility: collapse;
}

.hide{
	onclick="myFunction()"
}




@media(max-width: 798px){
	article{
		backdrop-filter: brightness(0.2);
		min-width: 80vw;
	}

	.text h2{
		font-size: 3em;
	}

	.text h3{
		font-size: 2em;
	}
}